@font-face {
  font-family: PingFangSC;
  src: url('../fonts/PingFang_SC.ttf');
}
@font-face {
  font-family: PingFangSC-Regular;
  src: url('../fonts/PingFang_Regular.ttf');
}
@font-face {
  font-family: PingFangSC-Medium;
  src: url('../fonts/PingFang_Medium.ttf');
}
